@import 'reset.css';

body {
  font-size: 18px;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px 10px;

  margin: 10px;

  margin: 0 auto;
  max-width: 1024px;
}

.portfolio__item {
  background-color: #f2f2f2;
  padding: 10px;
}

.portfolio__item img {
  width: 200px;
}

.detail__outer {
  display: grid;
  grid-template-rows: repeat(12, 1fr);

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;

  transition: opacity .2s;
  background-color: rgba(0, 0, 0, .8);
}

detail {
  grid-row: 2/12;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;

  padding: 10px;

  background-color: #222;
  color: white;
}

.detail__aside {
  grid-column: 1/2;
}

.detail__main {
  grid-column: 2/5;
}

/*
.detail__close {
  display: inline-block;
  padding: 10px;
  background-color: #777;
}
*/
