<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Maarten H. Concept Art &amp;amp; Illustrations</title>
  <link href="{{stylesheet}}" type="text/css" rel="stylesheet">
</head>
<body>
  <script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-104395054-1', 'auto');
    ga('send', 'pageview');
  </script>
  <header class="header">
    <h1>span Maarten H. Concept Art &amp; Illustration</h1>
    <nav>
      <a href="#">home</a>
      <a href="#">portfolio</a>
      <a href="#">contact</a>
      <a href="#">about</a>
    </nav>
  </header>
  <main>
    <section class="slider">slider</section>
    <div class="redom-mount-portfolio"></div>
    <div class="redom-mount-detail"></div>
    <section class="about">about</section>
  </main>
  <footer>&copy; 2017 - Maarten H. - All Rights Reserved</footer>
  <script src="{{javascript}}" type="application/javascript"></script>
</body>
</html>
